{{> html_start }}

	{{> masthead }}

	<!--  ====================  -->
	<!--  === Main content ===  -->
	<!--  ====================  -->
	<div id="mainContent" role="main">
		{% body %}
	</div>

	{{> footer }}

{{> html_end }}
