/**
 * Global app/site styles
 * =================================
 */
html, body {
	min-height: 100%;
}

body {
	background-color: $color-bg;
}

/**
 * Default layout container
 */
.l-container {
	position: relative;
	width: 90%;
	max-width: $layout-max-width + px;
	margin: 0 auto;
}

.section-img--directions {
	background: url('#{$img-path}/taxi.jpg') no-repeat center center;
	filter: sepia(1) opacity(30%);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.masthead {
	display: flex;
	flex-direction: column;
}
	.masthead-title {
		font-weight: bold;
		text-align: center;
		background: url('#{$img-path}/heart-trans.png') no-repeat center center;
		padding-bottom: 150px;
		margin: auto 0;

		@include media('<mid') {
			margin: 70px 0 auto;
		}

		@include media('<narrowMid') {
			background-size: contain;
			margin: 70px auto auto;
			width: 300px;
		}
		@include media('<narrow') {
			width: 200px;
			padding-bottom: 120px;
		}
	}
	.masthead-subtitle {
		display: block;
	}

.l-section {
	padding: 40px 0;
	position: relative;
	border-top: 3px solid #000;

	@include media('>=narrowMid') {
		padding: 80px 0;
	}

	&:first-child {
		margin-top: $nav-height;

		@include media('<mid') {
			margin-top: $nav-height - 5;
		}
	}
}
	.l-section h3,
	.title-alt {
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		@include ko-font-size(17);
	}

.l-section--full {
	min-height: 560px;
	height: 90vh;
	height: calc(100vh - #{$nav-height});

	&.masthead {
		padding: 0;

		@include media('<narrowMid') {
			max-height: calc(557px + #{$nav-height});
		}
	}
}
.g--noStretch {
	align-items: flex-end;
}

.l-imgSection {
	border-top: 3px solid #000;
	padding: 10px 0;
	text-align: center;
	line-height: 0;
	background-color: #fff;

	& img {
		@include media('<mid') {
			max-height: 200px;
		}
	}
}
	.l-imgSection--webpics {
		padding: 30px 0;
		background-color: #C2C2C2;

		& a {
			display: inline-block;

			& div {
				transition: all 250ms ease-out;
			}

			& div,
			& div:before,
			& img {
				border-radius: 20px;
			}
		}
	}

.l-imgSection--multiple {
	& > img {
		&:first-child {
			margin-right: 20vw;
		}
	}
}

.img-birds,
.img-heart,
.img-heart--2 {
	position: absolute;
}
.img-heart {
	right: -1vw;
	top: 380px;
}
.img-heart--2 {
	right: -4vw;
	top: 630px;

	@include media('<wide') {
		right: 0;
	}
}
.img-heart--3 {
	transform: scaleX(-1) rotate(13deg);
	left: -4vw;
	top: 460px;
}
.img-birds {
	right: 0px;
	top: 0;
	width: 100px;
}


.subtext {
	p {
		margin-bottom: 0;
	}
}


.bg-primary {
	background-color: $yellow;
}
.bg-secondary {
	background-color: $peach;
}
.bg-dark {
	background-color: $gray--light;
}
.bg-dark--alt {
	background-color: $teal;

	& a {
		color: #000;
		text-decoration: underline;

		&:hover {
			color: $color-link-light;
		}
	}
}
.bg-light {
	background-color: lighten($teal, 5%);
}
.bg-light--alt {
	background-color: #b3d4dd;
}

.svg-tree {
	width: 100%;
	height: auto;
}
.heartTree {
	position: relative;
}
	.sunnies {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 98%;
		overflow: hidden;
	}
		.sunnies-flower {
			position: absolute;
			bottom: -12.5%;
			transition: all 500ms ease-in-out;

			.heartTree:hover &,
			.heartTree.is-active & {
				bottom: -4%;
			}
		}
		.sunnies-flower-1 {
			left: 15%;
		}
		.sunnies-flower-2 {
			bottom: -8.5%;
			right: 33%;

			.heartTree:hover &,
			.heartTree.is-active & {
				bottom: 0%;
			}
		}
		.sunnies-flower-3 {
			right: 16%;
			bottom: -17.5%;

			.heartTree:hover &,
			.heartTree.is-active & {
				bottom: -9%;
			}
		}

.l-pad--top {
	padding-top: 40px;

	@include media('>=mid') {
		padding-top: 40px;
	}
}

.l-margin--bottom {
	@include media('<narrowMid') {
		margin-bottom: 25px;
	}
}


.imgEffect {
	display: block;
	margin: 0px auto;
	border: 10px solid #fff;
	box-shadow: 0px 0px 0px 2px #000;
	filter: brightness(120%);
}

.section-faq h3 {
	margin-top: $baseline * 1.5;
}
