---
title: The Adventure Begins
---


<section class="l-section l-section--full masthead">
	<h1 class="masthead-title header--playful">Sarah &amp; Ash <small class="masthead-subtitle">24. 06. 2017</small></h1>
</section>

<section class="l-imgSection filmstrip">
	<div class="filmstrip-container">
		<img src="{{ site.imgDir }}snaps-1.png">
	</div>
</section>

<section class="l-section bg-primary">
	<div class="l-container g g--gutter">
		<div class="g-col g-span5">
			{{> tree }}
		</div>
		<div class="g-col g-span6 g-offset1 l-pad--top">
			<h2>We’re Getting Married!</h2>

			<p>We’d love it if you could share our special day<br>with us.</p>
			<p>Please send us your RSVP by post, or if this isn’t possible, via email by pressing the button below.</p>

			<a href="mailto:nolly00@gmail.com,sairwatson@gmail.com" class="btn btn--outline">RSVP</a>
		</div>
	</div>
</section>

<section class="l-imgSection filmstrip">
	<div class="filmstrip-container">
		<img src="{{ site.imgDir }}snaps-2.png">
	</div>
</section>


<section class="l-section bg-secondary">
	<div class="l-container">
			<h2>FAQ</h2>

			<h3>Where should we stay?</h3>
			<p>There are lots of B&amp;B’s and hotels around How Caple. Check out our accommodation list for some suggestions.</p>

			<h3>Can we throw copious amounts of paper at you once you’ve tied the knot?</h3>
			<p>As much as we would love this, sadly the local widllife prohibit this.  You can instead throw petal confetti which we’ll be providing or feel free to bring some more if you have a particular petal in mind.</p>

			<h3>Will we get free alcohol all day and night?</h3>
			<p>Feel free to down as much of the table wine as you can during the wedding breakfast.  The venue will be providing a cash bar for the evening, so if you’re planning on getting merry, bring some cash (card not accepted).</p>

			<h3>You mentioned drinking – what about if I need to drive to the venue?</h3>
			<p>You are more than welcome to abandon your car overnight at the venue.  There is a car park in How Caple Court which we will have use of for the weekend.  Please do make sure you pick it back up again on the Sunday morning before going home.</p>

			<p>Alternatively, clamber into a local taxi by calling xxxxxxxxxxxx.</p>

			<h3>Should I bring a coat?</h3>
			<p>For those foreign to Ross-on-Wye, it is very much like the rest of the UK.  We have indoor space, but hope to be outside too.  Bring a coat/jumper/gloves/bobble hat to keep you warm so you can party outside with us late into the night.</p>

			<h3>We want to buy you a massive gift – any ideas?</h3>
			<p>Your presence at our wedding is all that we wish for.  However, if you want to give a gift, we would be grateful for a donation towards our dream honeymoon.</p>
		</div>
	</div>
</section>

{{#markdown}}



{{/markdown}}


