<!-- Global Navigation links -->
<nav class="nav-global">
	<ul class="nav-global-list unstyled">
		<li class="nav-global-item">
			<a href="#section-directions" class="nav-global-link">Directions</a>
		</li>
		-
		<li class="nav-global-item">
			<a href="#section-faq" class="nav-global-link">FAQ</a>
		</li>
		-
		<li class="nav-global-item">
			<a href="#section-accommodation" class="nav-global-link">Accommodation</a>
		</li>
		-
		<li class="nav-global-item">
			<a href="#section-rsvp" class="nav-global-link">RSVP</a>
		</li>
	</ul>
</nav>
