$nav-link-color: $white;

header {
	position: relative;
	z-index: 100;
}

.nav-global {
	position: fixed;
	z-index: 110;
	width: 100%;
	background-color: $gray--dark;
	padding: 4px 0;
	font-family: $font-family-playful;
	@include ko-font-size(midLarge);
	color: $white;

	@include media('<narrow') {
		display: none;
	}
 }

	.nav-global-list {
		display: block;
		text-align: center;
	}
	 	.nav-global-item {
	 		display: inline-block;
	 	}

	 		.nav-global-link {
		 		padding-left: 15px;
		 		padding-right: 15px;

		 		&,
		 		&:focus {
					color: $nav-link-color;
				}

				&:hover,
				&:active {
					color: $peach;
				}
	 		}
